*{
	margin: 0;
	padding:0;
}

#main{
	position:relative;
}

.box{
	padding:10px;
	float: left;
	
}
.pic{
	padding:15px;
	border:2px solid #ccc;
	border-radius:7px;
	box-shadow:0 0 7px #ccc;
}
img{
	/**/width:420px;
	height:auto;
}